body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#home,#middleimage {
  background-image: url("../images/the-flatiron-building.png");
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#copyrightandnavlinks {
  text-align: left;
  background-color: dimgray;
}

#copyrightandnavlinks span {
  color: white;
  font-size: 11px;
}

#middleimage h3 {
  color: white;
}

#about p, #work p, #team p, #contact p {
  font-size: 14px;
}
